@import "../../../styles/variables";
@import "../../../styles/_mixins";

.header {
  position: sticky;
  top: 0;
  z-index: $header-zIndex;

  width: 100%;

  padding-top: 40px;
  padding-bottom: 60px;
}

.nav {
  @include position_element(space-between, center);

  max-width: 900px;

  border-radius: 100px;
  background: rgba(255, 255, 255, 0.32);
  box-shadow: 0px 17px 24px 0px rgba(50, 52, 56, 0.04);
  backdrop-filter: blur(20px);

  padding: 12px 20px;
  margin: 0 auto;

  @media (max-width: $breakpoint-lg) {
    max-width: 700px;
    padding: 8px;
  }

  @media (max-width: $breakpoint-sm) {
    max-width: 300px;
    height: 46px;
    padding: 12px;
  }

  &_logo {
    @media (max-width: $breakpoint-sm) {
      max-width: 78px;
      height: auto;
    }
  }
}

.visible {
  top: 0;
  transition: top 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}

.hidden {
  top: -115px;
  transition: top 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}

.dropdown {
  position: relative;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 170px;

  padding: 8px 12px;

  border-radius: 100px;
  background-color: #fff;

  cursor: pointer;

  @media (max-width: $breakpoint-sm) {
    max-width: 100px;
    height: 30px;
    padding: 5px 4px;

    border-radius: 60px;
  }

  &_flag {
    width: 32px;
    height: 32px;
    @media (max-width: $breakpoint-sm) {
      width: 20px;
      height: 20px;
    }
  }

  &_text {
    color: #191c1f;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    @media (max-width: $breakpoint-sm) {
      font-size: 12px;
    }
  }
}

.arrow {
  &_open {
    transform: rotate(180deg);
    transition: transform ease 0.2s;
  }

  &_close {
    display: flex;
    align-items: center;

    transform: rotate(360deg);
    transition: transform ease 0.2s;
  }

  @media (max-width: $breakpoint-sm) {
    width: 12px;
    height: 12px;
  }
}

.menu {
  position: absolute;

  display: flex;
  flex-direction: column;

  width: 170px;

  padding: 8px 12px;

  margin-top: 8px;

  border-radius: 8px;
  background-color: #fff;

  gap: 4px;

  @media (max-width: $breakpoint-sm) {
    width: 100px;

    gap: 2px;
  }

  &_item {
    padding: 12px;

    width: 100%;
    height: 100%;
    background-color: transparent;

    text-align: left;

    font-size: 14px;
    color: #191c1f;
    font-weight: 500;

    cursor: pointer;

    @media (max-width: $breakpoint-sm) {
      font-size: 12px;
      padding: 4px;

      gap: 2px;
    }

    &:hover {
      border-radius: 4px;
      background: #f3f3f3;

      cursor: pointer;
    }
  }
}
